@model BLL.DTOs.UserDTO
@{
    ViewData["Title"] = "Healthcare Dashboard";
    Layout = "~/Views/Shared/_HealthcareLayout.cshtml";
}

<h1 class="text-center">Healthcare Dashboard</h1>
<h1>Welcome @Model.Name,</h1>

